@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../abstracts/mixins';

.cards {
    padding: 30px;
    max-width: $bp-xl;
    margin: 0 auto;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__sentinel {
        height: 50px;
        width: 100%;
        @include flex-center;
        color: $text-grey;
        font-size: 14px;
        display: flex;
    }

    .no-results {
        text-align: center;
        padding: 50px;
        font-size: 24px;
        color: $text-grey;
        font-family: $font-heading;
    }
}

.card {
    display: flex;
    gap: 20px;
    @include transition(all 0.3s);
    text-decoration: none;
    color: inherit;
    align-items: flex-start;

    @include responsive($bp-sm) {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid $text-white;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }

    &__image-box {
        flex: 0 0 320px;
        max-width: 100%;
        overflow: hidden;
        border-radius: 4px;

        @include responsive($bp-sm) {
            max-width: 100%;
            flex: 0 0 auto;
            width: 100%;
        }
    }

    &__image {
        width: 100%;
        height: 180px;
        object-fit: cover;
        @include transition(transform 0.5s ease);

        @include responsive($bp-sm) {
            height: 220px;
        }
    }

    &:hover &__image {
        transform: scale(1.05);
    }

    &__content {
        flex: 1;
        @include flex-column;
        justify-content: space-between;
        height: 100%;
        min-height: 180px;
    }

    &__title {
        font-family: $font-heading;
        font-size: 26px;
        margin-top: 0px;
        margin-bottom: 15px;
        font-weight: 400;
        line-height: 1.3;
        color: $text-white;

        @include responsive($bp-sm) {
            font-size: 22px;
        }
    }

    &__description {
        font-size: 16px;
        color: $text-grey;
        line-height: 1.6;
        margin-bottom: 20px;
        font-family: $font-body-alt;
        text-align: justify;
        text-justify: inter-word;
        max-width: 70%;
    }

    &__tag {
        font-size: 13px;
        color: $text-grey-dark;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        margin-top: auto;
    }
}