@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../abstracts/mixins';

.filters {
    margin-top: 100px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    max-width: $bp-xl;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    &__list {
        display: flex;
        list-style: none;
        gap: 0;
        padding-bottom: 5px;
        justify-content: space-between;
        width: 100%;
        flex-grow: 1;

        @media screen and (max-width: 600px) {
            overflow-x: auto;
            gap: 15px;
            padding: 0 10px;
            flex-wrap: nowrap;
            justify-content: flex-start;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__item {
        padding: 10px 30px;
        border: 1px solid $border-grey;
        border-radius: 50px;
        color: $text-white;
        cursor: pointer;
        font-size: 14px;
        font-family: $font-heading;
        @include transition(all 0.3s);
        white-space: nowrap;

        &:hover,
        &--active {
            background-color: $text-white;
            color: $black;
            border-color: $text-white;
        }
    }
}