@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../abstracts/mixins';

.search-bar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    background-color: $bg-darker;
    visibility: hidden;
    transform: translateY(-100%);
    transition: visibility 0s 0.4s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 2px solid $border-grey;

    &--active {
        visibility: visible;
        transform: translateY(0);
        transition: visibility 0s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 55px;
        position: relative;
    }

    &__icon {
        margin-right: 20px;
    }

    &__icon-img {
        width: 24px;
        height: 24px;
    }

    &__input {
        flex: 1;
        background-color: transparent;
        font-size: 24px;
        border: none;
        outline: none;
        color: $white;

        &::placeholder {
            font-size: 24px;
            color: $text-grey;
        }
    }

    &__close {
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin-left: 20px;
    }

    &__autocomplete {
        display: none;
        background-color: $bg-darker;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1002;
        border-top: 1px solid $border;
    }

    &__autocomplete-list {
        padding: 20px 55px;
        list-style: none;
    }

    .autocomplete-item {
        font-size: 18px;
        color: $white;
        padding: 10px 0;
        cursor: pointer;
        border-bottom: 1px solid $border-subtle;

        &:hover,
        &:focus {
            color: $text-grey;
            outline: none;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}