* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    overflow-x: hidden;
    background-color: $bg-dark;
    color: $text-white;
    font-family: $font-body;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}